@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Blogpost>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
  Layout = "Master.cshtml";
  
  string bannerUrl = "";
  bool showBanner = false;
  if (Model.Content.HasValue("bannerImage") == true){
    showBanner = true;
    bannerUrl = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage").Url;
  }
}
<section class="section">
    
  <div class="container">
    <article>
      <div class="blogpost-meta">
        <small class="blogpost-date">@Model.Content.CreateDate.ToShortDateString()</small>
      </div>
      @Umbraco.Field("mainContent", altText:"")
    </article>
  </div>
</section>