@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Blogpost>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
  Layout = "Master.cshtml";
  
  string bannerUrl = "";
  bool showBanner = false;
  if (Model.Content.HasValue("bannerImage") == true){
    showBanner = true;
    bannerUrl = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage").Url;
  }
}
<article>
  <div class="news-meta">
    <small class="blogpost-date">@Model.Content.CreateDate.ToShortDateString()</small>
  </div>
  @if(showBanner){
    <div class="hero-image" style="background-image:url( @bannerUrl )">
      <div class="dark-overlay text-center">
        <h1>@Model.Content.Name</h1>
      </div>
    </div>
  } else {
    <div class="maincontent">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>@Model.Content.Name</h1>
          </div>
        </div>        
      </div>
    </div>
  }
  <div class="maincontent">
    <div class="container">
      <div class="row">
        <div class="col">
          @Umbraco.Field("mainContent", altText:"")
        </div>
      </div>
    </div>
  </div>
</article>