@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ConsultatList>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
  Layout = "Master.cshtml";
}
<div>
  @foreach(var item in Model.Content.Children()){
    <p><a title="@item.Name" href="@item.Url">@item.Name</a></p>
  }
</div>