@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ConsultatList>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
  Layout = "Master.cshtml";
}
<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      @foreach(var item in Model.Content.Children()){
        <p><a title="@item.Name" href="@item.Url">@item.Name</a></p>
      }
    </div>
  </div>
</div>