@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
  Layout = "Master.cshtml";
  
  var specialities = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("specialities");

}
<div class="container maincontent boxlist">
  <div class="row">
    <h2>List of treatments</h2>
    @foreach(var item in Model.Content.Children()){
      <a href="@item.Url">@item.Name <svg height="17" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></a>
    }
    </div>
  </div>
  <div class="row">
    <h2>List of specialities</h2>
    @foreach (var speciality in specialities){
      <a href="@speciality.Url">@speciality.Name <svg height="17" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></a>
    }
  </div>
</div>