@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
  Layout = "Master.cshtml";
  
  var units = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("units");
  var specialities = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("specialities");

}
<div class="container maincontent">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      @foreach(var item in Model.Content.Children()){
        <p><a href="@item.Url">@item.Name</a></p>
      }
    </div>
  </div>
</div>